---
import MainLayout from '../../layouts/MainLayout.astro';
const title = '404 - Buffete Legal (pt)';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>404 (pt)</h1>
    <p>Contenido de la página 404 en pt.</p>
  </section>
</MainLayout>
