---
import MainLayout from '../../layouts/MainLayout.astro';
const title = 'Contacto - Buffete Legal (pt)';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>Contacto (pt)</h1>
    <p>Contenido de la página contacto en pt.</p>
  </section>
</MainLayout>
