---
import MainLayout from '../../layouts/MainLayout.astro';
const title = "Início - Gortázar Legal Advisors";
---

<MainLayout title={title}>
  <section class="p-8">
    <h1>{title}</h1>
    <p>Bem-vindo ao site oficial em português da Gortázar Legal Advisors.</p>
  </section>
</MainLayout>
