---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <section class="p-8">
    <h1>Nosotros (pt)</h1>
    <p>Contenido de la página nosotros en pt.</p>
  </section>
</MainLayout>
