---
import MainLayout from '../../layouts/MainLayout.astro';
const title = '404 - Buffete Legal (en)';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>404 (en)</h1>
    <p>Contenido de la página 404 en en.</p>
  </section>
</MainLayout>
