---
import MainLayout from '../../layouts/MainLayout.astro';
const title = 'Contacto - Buffete Legal (en)';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>Contacto (en)</h1>
    <p>Contenido de la página contacto en en.</p>
  </section>
</MainLayout>
