---
import MainLayout from '../../layouts/MainLayout.astro';
const title = 'Privacidad - Buffete Legal (en)';
---
<MainLayout>
  <section class="p-8">
    <h1>Privacidad (en)</h1>
    <p>Contenido de la página privacidad en en.</p>
  </section>
</MainLayout>
