---
import MainLayout from '../../layouts/MainLayout.astro';
const title = "Inicio - Gortázar Legal Advisors";
---

<MainLayout title={title}>
  <section class="p-8">
    <h1>{title}</h1>
    <p>Bienvenido al sitio oficial en español de Gortázar Legal Advisors.</p>
  </section>
</MainLayout>
