---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <section class="p-8">
    <h1>Nosotros</h1>
    <p>Contenido de la página nosotros en español.</p>
  </section>
</MainLayout>
