---
import MainLayout from '../../layouts/MainLayout.astro';
const title = '404 - Buffete Legal (it)';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>404 (it)</h1>
    <p>Contenido de la página 404 en it.</p>
  </section>
</MainLayout>
