---
import MainLayout from '../../layouts/MainLayout.astro';
const title = 'Index - Buffete Legal (it)';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>Index (it)</h1>
    <p>Contenido de la página index en it.</p>
  </section>
</MainLayout>
