---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <section class="p-8">
    <h1>Privacidad (it)</h1>
    <p>Contenido de la página privacidad en it.</p>
  </section>
</MainLayout>
