@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos corporativos */
.bg-atlante-oscuro {
  background-color: #001c3d;
}
.text-dorado-tenue {
  color: #d4af37;
}
.font-sans {
  font-family: system-ui, sans-serif;
}
:root {
  --color-atlante-oscuro: #0a2342;
  --color-dorado-tenue: #d4af37;
  --color-gris-piedra: #b0b0b0;
}

.dark {
  --color-atlante-oscuro: #1a2b4c; /* Tonalidad más clara para modo oscuro */
  --color-dorado-tenue: #e5c14a;
  --color-gris-piedra: #c0c0c0;
}
