---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout>
  <section class="p-8">
    <h1>Contacto (en)</h1>
    <p>Contenido de la página contacto en en.</p>
  </section>
</MainLayout>
