---
import MainLayout from '../../layouts/MainLayout.astro';
const title = "Home - Gortázar Legal Advisors";
---

<MainLayout title={title}>
  <section class="p-8">
    <h1>{title}</h1>
    <p>Welcome to the official English website of Gortázar Legal Advisors.</p>
  </section>
</MainLayout>
