---
import MainLayout from '../../layouts/MainLayout.astro';
const title = '404 - Buffete Legal';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>404</h1>
    <p>Contenido de la página 404 en español.</p>
  </section>
</MainLayout>
