---
import MainLayout from '../../layouts/MainLayout.astro';
const title = 'Privacidad - Buffete Legal';
---
<MainLayout title={title}>
  <section class="p-8">
    <h1>Privacidad</h1>
    <p>Contenido de la página privacidad en español.</p>
  </section>
</MainLayout>
